@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
	font-display: swap;
}

html {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "Rubik", sans-serif;
	font-size: 18px;
	line-height: 30px;
	background-color: #FFFFFF;
	color: #444444;
	position: relative;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

/* Стили для клавной страницы */

/* header */

.page-navigation {
	display: flex;
	flex-direction: column;
	width: 1160px;
	margin: 0 auto;
	background-color: #FFE17F;
	color: #000000;
	margin-top: 40px;
	padding-top: 49px;
}

.page-navigation-row {
	display: flex;
	width: 1075px;
	margin-left: 60px;
}

.page-navigation-row:nth-child(1) {
	display: flex;
	width: 1075px;
	margin-left: 60px;
	margin-bottom: 44px;
}

.page-navigation-row:nth-child(2) {
	display: flex;
	width: 1075px;
	margin-left: 60px;
	margin-bottom: 53px;
}

.page-navigation-col-left {
	width: 516px;
}

.header-logo-link {
	position: absolute;
	top: 17px;
}

.page-navigation-col-right {
	width: 535px;
	margin-left: auto;
}

.page-navigation-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.page-navigation-user-item:nth-child(1) {
	width: 220px;
}

.page-navigation-user-item:nth-child(2) {
	width: 100px;
	margin-left: 35px;
}

.page-navigation-user-item:nth-child(3) {
	width: 100px;
	text-align: right;
	margin-left:auto;
}

.page-navigation-item {
	width: 140px;
}

.page-navigation-item:nth-child(2n) {
	margin-left: 19px;
}

.page-navigation-item:nth-child(3n) {
	margin-left:auto;
	text-align: right;
}

.search-form input::placeholder {
	line-height: 19px;
	opacity: 0.3;
}

.page-navigation-user-link {
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	text-align: left;
	text-decoration: none;
}


.page-navigation-user-link-exit {
	opacity: 0.3;
	margin-left: 20px;
}

.page-navigation-link {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	line-height: 21px;
	color: #000000;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
}

.page-navigation-catalog-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.page-navigation-catalog-link {
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	text-align: left;
	text-decoration: none;
}

/* main */

.main-container {
	flex-grow: 1;
}

.page-container {
	width: 1160px;
	margin: 0 auto;
}

/* Слайдер */

.slider {
	margin-bottom: 70px;
	position: relative;
}

.slider-pagination {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.slider-button.slider-prev {
	position: absolute;
	top: 300px;
}

.slider-button.slider-next {
	position: absolute;
	top: 300px;
	left: 700px;
}

.slider-pagination-button {
	position: absolute;
	top: 220px;
	left: 1020px;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider-item {
	display: flex;
}

.slider-item-col-left {
	width: 560px;
}

.slider-item-col-right {
	width: 560px;
	margin-left: auto;
}

.slider-title {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000000;
	text-align: left;
	margin: 0;
}

.slider-description {
	margin-top: 19px;
	margin-bottom: 30px;
}

.button {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	text-align: center;
	background-color: #FFE17F;
	text-decoration: none;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.slider-features-list {
	display: flex;
	width: 560px;
}

.slider-features-item-value {
	font-size: 36px;
	line-height: 30px;
	color: #000000;
	text-align: left;
	margin-top: 70px;
	margin-bottom: 0px;
	width: 160px;
}

.slider-features-item-title {
	font-size: 16px;
	width: 160px;
}

/* Товары */
.goods {
	margin-bottom: 139px;
}

.goods-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.goods-item {
	width: 160px;
}

.goods-link {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	text-align: left;
	text-decoration: none;
	letter-spacing: -0.02em;
}

/* Преимущества */

.advantages {
	background-color: #F0F0F0;
	padding-bottom: 150px;
	margin-bottom: 90px;
}

.advantages-row {
	display: flex;
}

.advantages-list {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 280px;
}

.advantages-description-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 120px;
	width: 500px;
}

.advantages-item-current {
	background-color: #000000;
}

.advantages-item {
	margin-top: 45px;
}

.advantages-item:first-child {
	margin-top: 0px;
}

.advantages-button {
	min-width: 160px;
}

.advantages-button-current {
	background-color: transparent;
	color: #FFE17F;
}

.title-third {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000000;
	text-align: left;
	margin: 0;
}

.advantages-description-title {
	margin-bottom: 14px;
}

.advantages-description {
	margin: 0;
}

/* Доставка */

.delivery {
	position: relative;
}

.delivery-text {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
	background-color: #F0F0F0;
	padding-top: 37px;
	padding-bottom: 43px;
	margin-bottom: 146px;
}

.info {
	position: absolute;
	top: 40px;
	left: 1100px;
}

/* О компании */

.about-company-container {
	display: flex;
	flex-direction: column;
}

.about-company-description {
	margin: 0;
}

.about-company-row {
	display: flex;
}

.about-company-row:nth-child(1) {
	margin-bottom: 26px;
}

.about-company-row:nth-child(2) {
	margin-bottom: 30px;
}

.about-company-row:nth-child(3) {
	margin-bottom: 30px;
}

.about-company-row:nth-child(4) {
	margin-bottom: 52px;
}

.about-company-row:last-child {
	margin-bottom: 87px;
}

.about-company-col {
	width: 560px;
}

.about-company-col-title {
	margin-bottom: 26px;
}



.about-company-col-subtitle {
	margin: 0px;
}

.about-company-delivery-list {
	margin: 0;
	margin-bottom: 23px;
	padding: 0;
	list-style: none;
}

.about-company-delivery-item {
	line-height: 20px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 21px;
}

.about-company-col-subtitle {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 15px;
}

.contacts-schedule-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.contacts-address-text {
	font-style: normal;
	margin: 0px;
}

.about-company-contacts-phone {
	font-style: normal;
	color: #444444;
}

/* Подпишитесь на рассылку */

.appointment {
	background-color: #F0F0F0;
	padding-top: 75px;
	padding-bottom: 131px;
}

.appointment-row {
	display: flex;
	justify-content: space-between;
}


.appointment-row:first-child {
	margin-bottom: 40px;
}

.appointment-col-title {
	width: 560px;
}

.appointment-col-description {
	width: 560px;
}

.appointment-col-form {
	width: 860px;
}

.appointment-col-free {
	width: 165px;
}

.appointment-free {
	margin: 0;
}

.appointment-title {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000000;
	text-align: left;
	margin: 0;
}

.appointment-description {
	margin: 0;
}

.appointment-button {
	background-color: transparent;
}

/* Footer */

.page-footer {
	background-color: #444444;
	color: #FFFFFF;
	padding-top: 62px;
	padding-bottom: 61px;
}

.page-footer-container {
	display: flex;
	width: 1160px;
	margin: 0 auto;
	flex-direction: column;
}

.page-footer-row {
	display: flex;
}

.page-footer-row:nth-child(1) {
	margin-bottom: 35px;
}

.page-footer-row:nth-child(2) {
	margin-bottom: 49px;
}

.page-footer-col-first {
	width: 240px;
	margin-right: 115px;
}

.page-footer-col-second {
	width: 460px;
}

.page-footer-col-third {
	width: 295px;
	margin-left: auto;
	text-align: right;
}

.footer-navigation-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}

.footer-navigation-item {
	width: 148px;
	margin-right: 7px;
}

.footer-navigation-item:last-child {
	margin-left: 0px;
}

.footer-social-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.footer-social-item {
	width: 40px;
	height: 40px;
	margin-right: 15px;
}

.footer-social-item:last-child {
	margin-left: 0px;
}

.footer-social-button {
	color: #FFFFFF;
	text-decoration: none;
}

.htmlacademy-link {
	color: #FFFFFF;
	text-decoration: none;
}

.footer-address {
	font-size: 16px;
	line-height: 19px;
	margin: 0px;
}

.footer-navigation-link {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.contacts-phone {
	font-size: 16px;
	text-align: right;
	color: #FFFFFF;
	text-decoration: none;
}

/* Стили для страницы каталога */

.main-inner {
	padding-top: 37px;
}

.inner-header {
	margin-left: 60px;
}

.inner-header-title {
	margin: 0;
	margin-bottom: 14px;
}

.catalog-products-background-row-first {
	background: linear-gradient(to right, #DCDCDC 0%, #DCDCDC 50%, #EBEBEB 50%, #EBEBEB 100%);
}

.catalog-products-row-first {
	display: flex;
}

.catalog-products-row-first-col-first {
	width: 268px;
	padding-left: 60px;
	background: #DCDCDC;
	padding-top: 25px;
	padding-bottom: 25px;
}

.catalog-products-row-first-col-second {
	width: 760px;
	padding-left: 72px;
	background: #EBEBEB;
	padding-top: 25px;
	padding-bottom: 25px;
}

.catalog-products-background-row-second {
	background: linear-gradient(to right, #E5E5E5 0%, #E5E5E5 50%, #FFFFFF 50%, #FFFFFF 100%);
}

.catalog-products-row-second {
	display: flex;
}

.catalog-products-row-second-col-first {
	width: 268px;
	padding-left: 60px;
	background: #E5E5E5;
	padding-top: 69px;
}

.catalog-products-row-second-col-second {
	width: 760px;
	padding-left: 72px;
	background: #FFFFFF;
	padding-top: 69px;
}

.inner-header-title {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000000;
	text-align: left;
}

.breadcrumbs-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	margin-bottom: 49px;
}

.breadcrumbs-link {
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #000000;
	opacity: 0.6;
	text-decoration: none;
	margin-right: 36px;
}

.catalog-products-row-first-col-second {
	display: flex;
}


.catalog-products-row-second-col-first {
	display: flex;
}

.catalog-products-title,
.sorting-type-label {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
}

.catalog-products-title {
	margin: 0;
}

.sorting-type-control {
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.catalog-products-row-first-col-second-link {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.select-control-button {
	width: 11px;
	height: 10px;
	display: block;
}

.catalog-filter-title {
	font-weight: bold;
	line-height: 20px;
	letter-spacing: -0.02em;
	color: #000000;
}

.catalog-filter-label {
	font-size: 15px;
	text-align: center;
	opacity: 0.3;
	color: #000000;
}

.control-label {
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.product-card-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.product-card-link {
	font-weight: bold;
	line-height: 24px;
	letter-spacing: -0.02em;
	color: #000000;
	text-decoration: none;
}

.product-card-price {
	line-height: 21px;
	text-align: right;
	font-weight: normal;
	color: #444444;
}

.show-more {
	font-family: Raleway;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
	background: #FFFFFF;
	width: 760px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-bottom: 51px;
	margin-top: 44px;
}

.catalog-pagination {
	background-color: #EBEBEB;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	margin-bottom: 77px;
}

.catalog-pagination-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	align-items: center;
}

.catalog-pagination-item:not(:last-child) {
	margin-right: 30px;
}

.catalog-pagination-item {
	height: 19px;
}

.pagination-prev-link,
.pagination-next-link {
	font-family: Raleway;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	min-width: 80px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.pagination-prev-link {
	margin-left: 30px;
}

.pagination-next-link {
	margin-right: 30px;
}

.catalog-pagination-link {
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #444444;
	opacity: 0.3;
	text-decoration: none;
}